<settings>
  <!-- Target pace, entered as a free time over a free distance: 20:00 for
       1000, 1:45 for 100, 10:00 for 1000 y. The distance is in whatever unit
       the Units setting below is on. The app collapses the two into a per-100
       pace and shows you that figure on the watch face. -->
  <setting propertyKey="@Properties.targetTimeMin" title="@Strings.sTargetMin">
    <settingConfig type="numeric" min="0" max="180" />
  </setting>
  <setting propertyKey="@Properties.targetTimeSec" title="@Strings.sTargetSec">
    <settingConfig type="numeric" min="0" max="59" />
  </setting>
  <setting propertyKey="@Properties.targetDistance" title="@Strings.sTargetDist">
    <settingConfig type="numeric" min="10" max="5000" />
  </setting>

  <setting propertyKey="@Properties.units" title="@Strings.sUnits">
    <settingConfig type="list">
      <listEntry value="0">@Strings.uMetres</listEntry>
      <listEntry value="1">@Strings.uYards</listEntry>
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.toleranceSec" title="@Strings.sTolerance">
    <settingConfig type="numeric" min="1" max="20"/>
  </setting>

  <setting propertyKey="@Properties.fastThresholdSec" title="@Strings.sFastThr">
    <settingConfig type="numeric" min="2" max="30"/>
  </setting>

  <setting propertyKey="@Properties.gaugeRangeSec" title="@Strings.sRange">
    <settingConfig type="numeric" min="5" max="60"/>
  </setting>

  <setting propertyKey="@Properties.hapticsEnabled" title="@Strings.sHaptics">
    <settingConfig type="boolean"/>
  </setting>

  <setting propertyKey="@Properties.hapticsOnPace" title="@Strings.sHapticsOnPace">
    <settingConfig type="boolean"/>
  </setting>

  <setting propertyKey="@Properties.vibeIntensity" title="@Strings.sVibe">
    <settingConfig type="numeric" min="40" max="100"/>
  </setting>

  <setting propertyKey="@Properties.poolPresetCm" title="@Strings.sPool">
    <settingConfig type="list">
      <listEntry value="0">@Strings.poolAuto</listEntry>
      <listEntry value="1829">@Strings.pool20y</listEntry>
      <listEntry value="2000">@Strings.pool20m</listEntry>
      <listEntry value="2286">@Strings.pool25y</listEntry>
      <listEntry value="2500">@Strings.pool25m</listEntry>
      <listEntry value="3048">@Strings.pool33y</listEntry>
      <listEntry value="3333">@Strings.pool33m</listEntry>
      <listEntry value="4572">@Strings.pool50y</listEntry>
      <listEntry value="5000">@Strings.pool50m</listEntry>
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.buzzCountOnPace" title="@Strings.sBuzzOnPace">
    <settingConfig type="numeric" min="0" max="5"/>
  </setting>

  <setting propertyKey="@Properties.buzzCountSlow" title="@Strings.sBuzzSlow">
    <settingConfig type="numeric" min="0" max="5"/>
  </setting>

  <setting propertyKey="@Properties.buzzCountFast" title="@Strings.sBuzzFast">
    <settingConfig type="numeric" min="0" max="5"/>
  </setting>

  <setting propertyKey="@Properties.buzzGapMs" title="@Strings.sBuzzGap">
    <settingConfig type="numeric" min="50" max="1000"/>
  </setting>

  <setting propertyKey="@Properties.footerMode" title="@Strings.sFooterMode">
    <settingConfig type="list">
      <listEntry value="0">@Strings.footerDistance</listEntry>
      <listEntry value="1">@Strings.footerTime</listEntry>
      <listEntry value="2">@Strings.footerBoth</listEntry>
    </settingConfig>
  </setting>
</settings>
